/* 正文区域：demoProject.main */
#main
{
    background: #e8f3f8;
    border:5px solid #8ac1db;
}


/* 正文：表格部分 */
#datalist
{
    background-color:#fff;
}
#datalist td
{
    border: #CCC solid 1px;
}
#datalist tr:hover
{
    background-color:#f7f9fd;
}
#datalist th
{
    background: #fbedce;
    border: #CCC solid 1px;
}

/* 表格中显示详细消息 */
div.detail_info
{
    background-color: #fbf0db;
    border: 1px solid #ff9000;
    color: #000;
}

/* 正文：表单部分（div实现方式） */
span.required
{
    color:Red;
}

div.error_msg
{
    color:Red;
    background-image:url("../images/wrong.gif") ;
    background-repeat:no-repeat;
    background-position:left center;
    border:1px solid red;
}
p.hide
{
    border-bottom:1px solid red;
}
#divPwds
{
    border-top:1px dotted #a1c7d9;
    border-bottom:1px dotted #a1c7d9;
    background-color:#fafeff;
}
#optionalInfo
{
   background-color:#f4f4f4;
   border:1px solid #b4b4b4;
}


/* 正文：分页功能区 */
#pages a
{
    color: #000;
}
#pages a:hover
{
    background: #cddde4;
    border: #97b9c9 solid 1px;
    color: #067db5;
}
#pages a.current_page
{
    background: #FFF;
    border: #89bdd8 solid 1px;
    color: #067db5;
}


/* 表单上的元素：控件 */
input.readonly,textarea.readonly,span.readonly
{
    background-color:#f6f6f6;
}
input:focus,select:focus
{
    border-left:1px solid gray;
    border-top:1px solid gray;
}
input.btn_search,input.btn_search:hover,input.btn_search:active
{
    background: url(../images/search.png) no-repeat;
    color: #0a97c9;
    border:0;
}
input.btn_search_large,input.btn_search_large:hover,input.btn_search_large:active
{
    background: url(../images/search_large.png) no-repeat;
    color: #0a97c9;
    border:0;
}
input.btn_search:hover,input.btn_search_large:hover
{
    color: #0a97ff;
}

input.btn_add,input.btn_add:hover,input.btn_add:active
{
    background: url(../images/add.png) no-repeat;
    color: #0a97c9;
    border:0;
}
input.btn_add_large,input.btn_add_large:hover,input.btn_add_large:active
{
    background: url(../images/add_large.png) no-repeat;
    color: #0a97c9;
    border:0;
}
input.btn_add:hover,input.btn_add_large:hover
{
    color: #0a97ff;
}


input.btn_modify,input.btn_modify:hover
{
    background: url(../images/modification.png) no-repeat left center;
    color: #000;
    border:0;
}
input.btn_delete,input.btn_delete:hover
{
    background: url(../images/delete.png) no-repeat left center;
    color: #000;
    border:0;
}
input.btn_start,input.btn_start:hover
{
    background: url(../images/start.png) no-repeat left center;
    color: #000;
    border:0;
}
input.btn_pause,input.btn_pause:hover
{
    background: url(../images/pause.png) no-repeat left center;
    color: #000;
    border:0;
}
input.btn_save
{
    background: url(../images/form_btn.png) no-repeat;
    color: #FFF;
    border:0;
}
input.btn_save:hover
{
    background: url(../images/form_btn_on.png) no-repeat;
}
